################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/YoutubeDownloaderMaui/obj
/YoutubeDownloaderMaui/bin/Debug
/YoutubeDownloaderMaui/YoutubeDownloaderMaui.csproj.user
