<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.1" targetFramework="net461" />
  <package id="Autofac" version="6.1.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="Config.Net" version="4.15.0" targetFramework="net461" />
  <package id="Config.Net.Yaml" version="4.13.7" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.4.0.1044" targetFramework="net461" />
  <package id="MediaToolkit" version="1.1.0.1" targetFramework="net461" />
  <package id="MediatR" version="9.0.0" targetFramework="net461" />
  <package id="MediatR.Extensions.Autofac.DependencyInjection" version="7.1.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0-preview.2.21154.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0-preview.2.21154.6" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0-preview.2.21154.6" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Json" version="4.7.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="YamlDotNet.Signed" version="4.3.1" targetFramework="net461" />
  <package id="YoutubeExplode" version="4.2.0" targetFramework="net461" />
</packages>